.feedback-wrapper{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--soft-blue);
    background-color: white;
    padding: 3rem;
    margin: 3rem 0 2.5rem 0;
    box-shadow: 0 1rem 2rem hsl(231, 69%, 60%,.2);
    border-radius: .64rem;
    transition: all 4s;
    translate: 10px -10px;

}
.feedback-title{
    font-size: 3.05rem;
    color: var(--Very-Dark-Blue);
    font-weight: 500;
    letter-spacing: 0.089rem;
    line-height: 1.25;
    padding: 1rem 0;
}
.feedback-paragraph{
    color: var(--Grayish-Blue);
    font-size: 1.4rem;
}
.btn.feedback{
    background-color: var(--soft-red);
    margin-top: 1.5rem;
    color: white;
}
.btn.feedback:hover{
    background-color: inherit;
border: 2px solid var(--soft-red);
color: var(--soft-red);
}